:root {
  /* VARIABLES */
  /* Colores */
  --background-body: #efefef;
  --background-table: #ccc;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.7rem;
  background-color: var(--background-body);
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.titulo {
  text-align: center;
  margin: 2rem auto;
}

/* Creo un table container para poder decirle que su ancho maximo es de 100% y le doy un overflow-x: scroll para poder scrollear en la tabla sin mover toda la pagina*/
.table-container {
  max-width: 100%;
  overflow-x: scroll;
  margin: 15px;
}

/* Al elemento table le pongo margen para que cuando estemos en un celular, la tabla no esté pegada a la pantalla */
table {
  text-align: left;
  border: 1px solid black;
  border-spacing: 0;
  margin: auto;
}

table th,
table td {
  padding: 0 10px;
  border-right: 1px solid black;
  min-width: 200px;
  height: 37px;
}

table tbody tr:nth-child(odd) {
  background-color: var(--background-table);
}
